@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(255,170,246);
    background: linear-gradient(90deg, rgba(255,170,246,1) 0%, rgba(214,172,255,1) 100%);
}
h1{
    font-family: 'Lobster', cursive;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./imgs/bg");
    background-repeat: repeat;

}
.logo{
    display: flex;
    font-size: xx-large;
}
.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Permanent Marker', cursive;
}
.screen{
    display: flex;
}
.right{
    display: flex;
    width: 580px;
    height: 400px;
    padding-top: 64px;
    padding-right: 16px;
    justify-content: center;
    
}
.words {
    height: 560px;
    width: 720px;
}
.words p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
    padding-top: 8px;
}
.biography{
    background-color: cornflowerblue;
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    list-style-type: upper-roman;
}
.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 80px;
}
.post{
    width: 320px;
    height: 480px;
    border-radius: 15px 50px;
    padding: 16px;
}
.footer{
    min-height: 240px;
    background-color: black;
    color: ivory;
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }